*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

.input-number{
    color: #fff;
    text-align: center;
    padding-top: 32%;
    margin-bottom: 1rem;
}

#input{
    width: 75%;
    height: 2rem;
}
.x{
    background-color: red;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
}

.item-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.item-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.item-3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.item-4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

button{
    background-color: rgb(60, 197, 60);
    color: #fff;
    padding: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    margin: 0.5rem;
}